// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/docs/v8/framework/articles/ValoExamples.html

//noinspection CssUnknownTarget
@import "../valo/valo.scss";

@mixin mytheme {
	@include valo;

	.debug-object {
		border: solid #de0000;
		border-radius: 3px;
		//padding: 10px;
	}

	.backgroundGradient {
		@include linear-gradient(#FED7B0, #FFFFEE);
	}

	html, body {
		background-color: unset;
		//color: #800;
	}

	.layout-padding {
		padding: 0;
	}

	.text-button {
		background: none!important;
		border: none;
		padding: 0!important;
		color: #069;
		text-decoration: underline;
		cursor: pointer;
	}

	.board-div {
		border: 2px #b1b1b1;
		background: #ffe6f8;
		border-radius: 7px;
		margin: 5px;
		padding: 7px;
	}

	.board-div:hover {
		box-shadow: rgb(150, 150, 150) 2px 2px 3px;
		cursor: pointer;
	}

	.thread-div {
		border: #880000 2px;
		padding: 0;
		background-color: #ff901e;
	}

	.reply-div {
		border: #880000 2px;
		padding: 2px;
		background-color: #ff8200;
	}

	.reply-div__header {
		background-color: #728a9d;
	}

	.reply-div__content {
		//background-color: #fed7b0;
	}

	//god forgive me for I have sinned
	.v-slot-card-header {
		@extend .card-header;
		border: dashed 10px red;
	}

	//this is still the same sin btw pls don't punish me twice
	.v-slot-card-body {
		@extend .card-body;
		border: dashed 1px red;
	}

	.logo {
		cursor: pointer;
	}

	//MIÉRT LÉTEZIK A VAADIN REEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
}
